<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>http://h.hiphotos.baidu.com/zhidao/pic/item/c8177f3e6709c93d0f5f00e79b3df8dcd1005474.jpg</string>
	<string>http://ww2.sinaimg.cn/crop.0.0.1080.1080.1024/0060HVQdjw8esl7mp9hpmj30u00u0acv.jpg</string>
	<string>http://i-2.yxdown.com/2015/4/23/11b2be47-55a7-400a-95b2-7748755ad4e9.jpg</string>
	<string>http://img5.duitang.com/uploads/item/201407/14/20140714205720_4NRhW.jpeg</string>
	<string>http://img3.duitang.com/uploads/item/201504/13/20150413H5548_BuNcZ.thumb.700_0.jpeg</string>
	<string>http://www.ld12.com/upimg358/allimg/c140921/14112A4SMc0-TL8.jpg</string>
	<string>http://e.hiphotos.baidu.com/zhidao/pic/item/d043ad4bd11373f09e758825a40f4bfbfaed04c5.jpg</string>
	<string>http://hiphotos.baidu.com/zhidao/pic/item/2f738bd484436367a18bb7a2.jpg</string>
</array>
</plist>
